build
config.ini
members.txt
/build/gitee_util/Analysis-00.toc
/build/gitee_util/base_library.zip
/build/gitee_util/EXE-00.toc
/dist/gitee_util.exe
/build/gitee_util/gitee_util.pkg
/gitee_util.spec
*.spec
/build/gitee_util/PKG-00.toc
/build/gitee_util/PYZ-00.pyz
/build/gitee_util/PYZ-00.toc
/build/gitee_util/warn-gitee_util.txt
/build/gitee_util/xref-gitee_util.html
/.cache/
/dist/.cache/
/build/gitcode_util/Analysis-00.toc
/build/gitcode_util/base_library.zip
/members.txt.bak
/build/gitcode_util/EXE-00.toc
/build/gitcode_util/gitcode_util.pkg
/gitcode_util.spec
/dist/gitcode_util.exe
/build/gitcode_util/PKG-00.toc
/build/gitcode_util/PYZ-00.toc
/build/gitcode_util/warn-gitcode_util.txt
/build/gitcode_util/xref-gitcode_util.html
/build/gitcode_util/PYZ-00.pyz
__pycache__
.agent-memory/
.codex
.scratchpad/
coordination/
